<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Permission</th>
    <th>Username</th>
  </tr>
  <% @map.topics.each do |topic| %>
  <tr>
    <td><%= topic.id %></td>
    <td><%= topic.name %></td>
    <td><%= topic.permission %></td>
    <td><%= topic.user.name %></td>
  </tr>
  <% end %>
</table>
